Repository Hulkeinstein/dvs-template01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

chore(demo): remove blog section from main home
  app/01-main-demo/(main-demo)/index.tsx
  app/01-main-demo/page.js
  components/01-Main-Demo/01-Main-Demo.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): log and check off T009
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): unlink remaining demo routes
  app/lib/constants/routes.ts
  components/Abouts/About-Two.js
  components/Events/EventCarouse.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): log and check off T010
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): record Phase 2 checkpoint results
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): fix checkpoint table cell count
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): record T011 validator result
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): close Phase 2 (T011) and await Phase 3 approval
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

fix: avoid private key scanner false positive
  scripts/verify-keypair.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(format): ignore OMO runtime state
  .prettierignore
  docs/work-plans/evidence/histudy-demo-phase3/T013-intent.json
  docs/work-plans/evidence/histudy-demo-phase3/T013-recovery-intent.json
Due: prettier --write

chore(demo): remove phase 5 lesson and profile demos
  app/(courses)/(lessons)/lesson-assignments-submit/(assignments-submit)/index.js
  app/(courses)/(lessons)/lesson-assignments-submit/page.js
  app/(courses)/(lessons)/lesson-assignments/(lesson-assignments)/index.js
  app/(courses)/(lessons)/lesson-assignments/page.js
  app/(courses)/(lessons)/lesson-intro/(intro)/index.js
  app/(courses)/(lessons)/lesson-intro/page.js
  app/(courses)/(lessons)/lesson-quiz-result/(quiz-result)/index.js
  app/(courses)/(lessons)/lesson-quiz-result/QuizResultContent.js
  app/(courses)/(lessons)/lesson-quiz-result/page.js
  app/(courses)/(lessons)/lesson-quiz/(quiz)/index.js
  app/(courses)/(lessons)/lesson-quiz/page.js
  app/(courses)/(lessons)/lesson/(lesson)/index.js
  app/(courses)/(lessons)/lesson/page.js
  app/(pages)/profile/[profileId]/page.js
  app/(pages)/profile/index.js
  app/(pages)/profile/page.js
  components/Lesson/LessonAssignmentsSubmit.js
  components/Lesson/LessonQuizResult.js
  components/Lesson/Quiz/QuizResult.js
  components/User-Profile/User-Biography.js
  components/User-Profile/User-Courses.js
  components/User-Profile/User-Profile.js
  docs/work-plans/evidence/histudy-demo-phase5/T015-intent.json
  docs/work-plans/evidence/histudy-demo-phase5/T015-receipt.json
Due: eslint --fix --max-warnings 0, prettier --write

chore(demo): complete phase 7 cleanup
  components/Course-Details/Course-Sections/Breadcrumb/CourseBreadcrumb-Five.js
  components/Course-Details/Course-Sections/Breadcrumb/CourseBreadcrumb-Four.js
  components/Course-Details/Course-Sections/Breadcrumb/CourseBreadcrumb-Seven.js
  components/Course-Details/Course-Sections/Breadcrumb/CourseBreadcrumb-Six.js
  components/Course-Details/Course-Sections/Breadcrumb/CourseBreadcrumb-Three.js
  components/Course-Details/Course-Sections/Breadcrumb/CourseBreadcrumb-Two.js
  components/Header/NavProps/ElementsLayout.js
  docs/ROADMAP.md
  docs/library/histudy-demo-removal.md
  docs/work-plans/evidence/histudy-demo-phase7/T017-adversarial.json
  docs/work-plans/evidence/histudy-demo-phase7/T017-intent.json
  docs/work-plans/evidence/histudy-demo-phase7/T017-receipt.json
  docs/work-plans/histudy-demo-cleanup.md
  scripts/demo-removal/render-doc.mjs
Due: eslint --fix --max-warnings 0, prettier --write

chore(db): record Supabase baseline T001 evidence and handoff
  docs/ROADMAP.md
  docs/work-plans/evidence/supabase-migration-baseline/T001-adversarial.json
  docs/work-plans/evidence/supabase-migration-baseline/T001-intent.json
  docs/work-plans/evidence/supabase-migration-baseline/T001-receipt.json
  docs/work-plans/handoff/2026-09-29-supabase-baseline-evidence.md
  docs/work-plans/supabase-migration-baseline.md
  session.md
Due: prettier --write

chore(git): track .omo/plans for Claude-Codex collab loop
  .gitignore
Due: none

docs(collab): add Codex instruction for T3 baseline construction plan
  docs/work-plans/collab/t3-baseline-construction-plan/01-instruction.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,scss,css})
