Repository Hulkeinstein/dvs-template01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

refactor: Git 워크플로우 모듈 재구성 및 최적화
  CLAUDE.md
  modules/automation-system.md
  modules/git-workflow.md
  modules/task-automation.md
Due: prettier --write

docs: DEVELOPMENT_PLAN.md 정리 및 업데이트
  DEVELOPMENT_PLAN.md
Due: prettier --write

refactor: Claude 메모리 모듈 정리 및 통합
  .husky/post-commit
  .husky/pre-commit
  CLAUDE.md
  COMPLETED_TASKS.md
  DEVELOPMENT_PLAN.md
  modules/architecture.md
  modules/commercial-template-guide.md
  modules/development-guide.md
  modules/development-status.md
  modules/git-workflow.md
  modules/project-context.md
  modules/recent-features.md
  modules/roadmap.md
  modules/task-automation.md
  modules/testing-guide.md
  package.json
  scripts/automation/gh-pr-helper.ts
  scripts/automation/lib/git-utils.ts
  scripts/automation/test-automation.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: jodit-react 패키지 누락 문제 해결
  package-lock.json
  package.json
Due: prettier --write

docs: Assignment 기능 구현 계획 추가
  DEVELOPMENT_PLAN.md
Due: prettier --write

fix: Quiz Modal Advanced Settings 아코디언 및 파일 업로드 문제 해결
  DEVELOPMENT_PLAN.md
  app/lib/actions/assignmentActions.js
  app/lib/actions/courseActions.js
  app/lib/actions/courseContentActions.js
  app/lib/actions/lessonActions.js
  app/lib/actions/uploadActions.js
  app/lib/utils/contentHelpers.js
  components/create-course/CreateCourse.js
  components/create-course/QuizModals/AssignmentModal.js
  components/create-course/QuizModals/LessonModal.js
  components/create-course/QuizModals/QuizModal.js
  components/create-course/QuizTab/Settings.js
  components/create-course/lesson/Lesson.js
  components/create-course/lesson/SingleLesson.js
  constants/sampleAssignmentData.js
  modules/development-guide.md
  modules/git-workflow.md
Due: eslint --fix --max-warnings 0, prettier --write

docs: 작업일지 추가 및 개발 계획 업데이트
  DEVELOPMENT_PLAN.md
  docs/work-logs/2025-01-10.md
Due: prettier --write

refactor: 프로젝트 관리 시스템 간소화 - GitHub Issues로 일원화
  .husky/post-commit
  COMPLETED_TASKS.md
  DEVELOPMENT_PLAN.md
  docs/work-logs/2025-01-10.md
  modules/git-workflow.md
  modules/task-automation.md
  package.json
  scripts/automation/update-development-plan.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 모듈 문서 정리 - GitHub Issues와 중복 제거
  modules/development-guide.md
  modules/quiz-system.md
Due: prettier --write

fix: quiz-system.md의 GitHub Issues 안내를 간단하게 수정
  modules/quiz-system.md
Due: prettier --write

docs: GitHub Issue 관리 체계 구축 및 마일스톤 설정
  DEVELOPMENT_PLAN.md
Due: prettier --write

docs: GitHub Milestones 체계 문서화
  modules/git-workflow.md
Due: prettier --write

docs: Solo Developer + Claude Code 협업 가이드 추가
  modules/git-workflow.md
Due: prettier --write

chore: normalize line endings in styles.scss
  public/scss/styles.scss
Due: prettier --write

feat: 배지 시스템 복구 - 스태시에서 모든 파일 복원
  DEVELOPMENT_PLAN.md
  app/(courses)/create-course/index.js
  app/(pages)/login/(login)/index.js
  app/lib/actions/badgeActions.js
  app/lib/actions/courseActions.js
  app/lib/constants/badgeConfig.js
  app/lib/course-providers/DatabaseCourseProvider.js
  app/lib/utils/courseDataMapper.js
  app/lib/utils/debugHelper.js
  app/lib/utils/logger.js
  components/Common/CourseBadges.js
  components/Course-Details/Course-Sections/Breadcrumb/Course-Breadcrumb.js
  components/Course-Details/Course-Sections/Content.js
  components/Course-Details/Course-Sections/Viedo.js
  components/Instructor/BadgeManagement.js
  components/Instructor/Dashboard-Section/widgets/CourseWidget.js
  components/Instructor/InstructorDashboardHeader.js
  components/Instructor/MyCourses.js
  components/create-course/CreateCourse.js
  components/create-course/InfoForm.js
  components/create-course/QuizModals/QuizModal.js
  components/create-course/QuizTab/Question.js
  components/create-course/lesson/Lesson.js
  components/create-course/lesson/SingleLesson.js
  public/scss/elements/_course-badges.scss
  public/scss/styles.scss
  supabase/migrations/20250213_create_badge_system.sql
Due: eslint --fix --max-warnings 0, prettier --write

chore: 불필요한 콘솔 로그 제거
  app/(courses)/course-details/index.js
  app/lib/actions/courseActions.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: Announcements 기능 구현
  app/lib/actions/announcementActions.js
  components/Instructor/Announcements.js
  components/Student/Announcements.js
  components/create-course/AnnouncementModal.js
  supabase/migrations/20250214_create_announcements_table.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix: SQL 문법 오류 수정 - user 테이블명에 따옴표 추가
  supabase/migrations/20250214_create_announcements_table.sql
Due: none

fix: enrollments 테이블 컬럼명 수정 - student_id를 user_id로 변경
  app/lib/actions/announcementActions.js
  supabase/migrations/20250214_create_announcements_table.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix: 불필요한 시퀀스 권한 부여 제거 - UUID 테이블은 시퀀스 사용 안함
  supabase/migrations/20250214_create_announcements_table.sql
Due: none

fix: Quill 에디터 스타일 수정 - 높이 조정 및 레이아웃 개선
  components/create-course/AnnouncementModal.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: Published 코스만 공지사항 대상으로 제한
  app/lib/actions/announcementActions.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: Edit/Delete 버튼 스타일을 템플릿과 일치하도록 수정
  components/Instructor/Announcements.js
  supabase/demo_announcements.sql
Due: eslint --fix --max-warnings 0, prettier --write

style: 테이블 요소 크기 및 정렬 개선
  components/Instructor/Announcements.js
  components/Student/Announcements.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: UI/UX 개선사항 적용
  components/Instructor/Announcements.js
  components/Student/Announcements.js
  components/create-course/AnnouncementModal.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: Announcements 기능 구현 (#16)
  app/lib/actions/announcementActions.js
  components/Instructor/Announcements.js
  components/Student/Announcements.js
  components/create-course/AnnouncementModal.js
  supabase/demo_announcements.sql
  supabase/migrations/20250214_create_announcements_table.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat: TypeScript 마이그레이션 환경 설정 및 Agent 구축
  .eslintrc.json
  CLAUDE.md
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
  types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: TypeScript Migration Agent 설정 추가
  .claude/agents/typescript-migration/agent.md
  .claude/agents/typescript-migration/config.json
  .claude/agents/typescript-migration/progress.json
  .gitignore
Due: prettier --write

fix: 빌드 오류 수정 및 ESLint 설정 개선
  .eslintrc.json
  components/Certificate/CertificateView.js
  components/Lesson/LessonVideo.js
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

feat: TypeScript 마이그레이션 환경 설정 - Closes #17 (#18)
  .claude/agents/typescript-migration/agent.md
  .claude/agents/typescript-migration/config.json
  .claude/agents/typescript-migration/progress.json
  .eslintrc.json
  .gitignore
  CLAUDE.md
  components/Certificate/CertificateView.js
  components/Lesson/LessonVideo.js
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.tsbuildinfo
  types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add .mcp.json to gitignore for security
  .gitignore
  app/lib/supabase/client.js
  app/lib/supabase/client.ts
  app/lib/utils/contentHelpers.ts
  app/lib/utils/courseDataMapper.ts
  app/lib/utils/debugHelper.ts
  app/lib/utils/fileUpload.ts
  app/lib/utils/logger.ts
  app/lib/utils/otp.ts
  app/lib/utils/phoneVerification.ts
  app/lib/utils/testCourseDataMapper.ts
  app/lib/utils/videoUtils.ts
  constants/sampleAssignmentData.ts
  progress.json
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix: CSS @import 오류 및 Image 비율 경고 수정
  .claude.json
  .mcp.json
  app/fonts.js
  app/layout.js
  components/Abouts/About-Two.js
  public/scss/default/_fonts.scss
  public/scss/default/_typography.scss
  public/scss/elements/_about.scss
  public/scss/styles.scss
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix: Next.js Server Actions 파일 크기 제한 및 추가 Image 경고 수정
  components/create-course/InfoForm.js
  next.config.mjs
Due: eslint --fix --max-warnings 0, prettier --write

fix: 폼 필드 경고 수정 - name/id 속성 추가
  components/create-course/InfoForm.js
  components/create-course/QuizModals/AssignmentModal.js
  components/create-course/QuizModals/LessonModal.js
  components/create-course/QuizTab/Settings.js
  components/create-course/TopicModal.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: UI 개선 및 TypeScript 마이그레이션 정리
  app/lib/utils/courseDataMapper.ts
  public/scss/elements/_contact.scss
Due: eslint --fix --max-warnings 0, prettier --write

test: courseDataMapper 유틸리티 테스트 파일 추가
  __tests__/utils/courseDataMapper.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 고급 테스트 전략 문서 추가 - 테스트 아키텍트 Agent 연동
  modules/test-strategy-advanced.md
Due: prettier --write

feat: TypeScript Phase 1 완료 및 UI 개선 (#20)
  .claude.json
  .gitignore
  .mcp.json
  __tests__/utils/courseDataMapper.test.ts
  app/fonts.js
  app/layout.js
  app/lib/supabase/client.js
  app/lib/supabase/client.ts
  app/lib/utils/contentHelpers.ts
  app/lib/utils/courseDataMapper.ts
  app/lib/utils/debugHelper.ts
  app/lib/utils/fileUpload.ts
  app/lib/utils/logger.ts
  app/lib/utils/otp.ts
  app/lib/utils/phoneVerification.ts
  app/lib/utils/testCourseDataMapper.ts
  app/lib/utils/videoUtils.ts
  components/Abouts/About-Two.js
  components/create-course/QuizModals/AssignmentModal.js
  components/create-course/QuizModals/LessonModal.js
  components/create-course/QuizTab/Settings.js
  components/create-course/TopicModal.js
  constants/sampleAssignmentData.ts
  modules/test-strategy-advanced.md
  next.config.mjs
  progress.json
  public/scss/default/_fonts.scss
  public/scss/default/_typography.scss
  public/scss/elements/_about.scss
  public/scss/elements/_contact.scss
  public/scss/styles.scss
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix: 커밋 a504aa8에서 실수로 삭제된 카드 스타일 복원
  public/scss/elements/_card.scss
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,scss,css})
