Repository Hulkeinstein/dvs-template01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{json,md,scss,css}": ["prettier --write"]
}

feat(youtube): YouTube description 자동 입력 및 Hydration 에러 수정
  app/01-main-demo/(main-demo)/index.tsx
  app/lib/actions/youtubeActions.ts
  components/create-course/QuizModals/LessonModal.tsx
  docs/work-plans/youtube-description-fetching.md
  types/youtube.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(youtube): AI 요약 버그 수정 및 다크모드 지원
  __mocks__/styleMock.js
  __tests__/actions/summaryActions.test.ts
  __tests__/actions/summaryCaching.test.ts
  __tests__/actions/transcriptActions.test.ts
  __tests__/components/LessonContent.test.tsx
  __tests__/components/SummaryButton.test.tsx
  __tests__/components/SummaryDisplay.test.tsx
  __tests__/integration/summaryFlow.test.ts
  __tests__/types/summary.types.test.ts
  __tests__/utils/apiKeyValidator.test.ts
  app/(courses)/(lessons)/lesson/[id]/LessonContent.js
  app/lib/actions/courseActions.ts
  app/lib/actions/courseContentActions.js
  app/lib/actions/lessonActions.js
  app/lib/actions/summaryActions.ts
  app/lib/actions/summaryCachingActions.ts
  app/lib/actions/transcriptActions.ts
  app/lib/utils/apiKeyValidator.ts
  build_log.txt
  components/Lesson/LessonVideo.tsx
  components/Lesson/SummaryButton.tsx
  components/Lesson/SummaryDisplay.scss
  components/Lesson/SummaryDisplay.tsx
  components/create-course/CreateCourse.tsx
  components/create-course/QuizModals/LessonModal.tsx
  docs/adr/0002-youtube-ai-summarization.md
  docs/adr/INDEX.md
  docs/work-plans/youtube-ai-summarization.md
  jest.config.js
  next.config.mjs
  supabase/migrations/20251219_summary_usage_logs.sql
  tsconfig.tsbuildinfo
  types/summary.ts
  types/youtube.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Lilys.ai 스타일 AI 요약 노트 - Closes #67
  app/lib/actions/summaryActions.ts
  components/Lesson/SummaryDisplay.scss
  components/Lesson/SummaryDisplay.tsx
  docs/guides/testsprite-guide.md
  docs/library/lilys-summary.md
  docs/troubleshooting/testsprite-issues.md
  types/summary.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: add AI summary feature test specification
  docs/test-specs/ai-summary-feature.md
Due: prettier --write

fix(auth): improve error message details in password setup
  app/lib/actions/passwordActions.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(settings): use React state for password status
  components/Instructor/Settings.tsx
  components/Student/Settings.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(phone-input): fix dark mode background for flag dropdown
  public/scss/elements/_phone-input.scss
Due: prettier --write

chore: ignore entire testsprite_tests folder
  .gitignore
Due: none

chore: remove testsprite_tests from git tracking
  testsprite_tests/TC001_Load_Dashboard_with_Real_Data.py
  testsprite_tests/TC002_Validate_My_Courses_Grid_Rendering.py
  testsprite_tests/TC003_Continue_Learning_Section_Displays_Correct_Next_Lesson.py
  testsprite_tests/TC004_Overall_Progress_Circular_Indicator_Accuracy.py
  testsprite_tests/TC005_Empty_State_Handling_for_No_Enrollments.py
  testsprite_tests/TC006_Data_Integration_Using_userId_Prop_and_Server_Action.py
  testsprite_tests/TC007_TypeScript_Migration_Cleanup_Verification.py
  testsprite_tests/TC008_Navigation_Verification_from_Dashboard_Cards_and_Buttons.py
  testsprite_tests/TC009_UI_Responsiveness_and_Visual_Integrity.py
  testsprite_tests/standard_prd.json
  testsprite_tests/testsprite-mcp-test-report.html
  testsprite_tests/testsprite-mcp-test-report.md
  testsprite_tests/testsprite_frontend_test_plan.json
  testsprite_tests/tmp/code_summary.json
  testsprite_tests/tmp/config.json
  testsprite_tests/tmp/prd_files/student-dashboard-spec.md
  testsprite_tests/tmp/raw_report.md
  testsprite_tests/tmp/test_results.json
Due: prettier --write

fix(summary): use generateLilysSummary for Lilys-style output
  app/lib/actions/summaryCachingActions.ts
  components/create-course/QuizModals/LessonModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(summary): fix Lilys schema validation and timeline header layout
  app/lib/actions/summaryActions.ts
  components/Lesson/SummaryDisplay.tsx
  types/summary.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(summary): improve timeline header flex layout
  components/Lesson/SummaryDisplay.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(summary): change timeline header to vertical layout
  components/Lesson/SummaryDisplay.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(summary): constrain timestamp button width to content
  components/Lesson/SummaryDisplay.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(summary): move timestamp button inline before title
  components/Lesson/SummaryDisplay.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(summary): override rbt-accordion-style button width
  components/Lesson/SummaryDisplay.scss
Due: prettier --write

style(summary): change timestamp to simple text link style
  components/Lesson/SummaryDisplay.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(scss): move summary styles to public/scss per convention
  components/Lesson/SummaryDisplay.scss
  components/Lesson/SummaryDisplay.tsx
  docs/guides/histudy-scss-guide.md
  docs/library/lilys-summary.md
  docs/troubleshooting/scss-styling-issues.md
  public/scss/elements/_summary-display.scss
  public/scss/styles.scss
Due: eslint --fix --max-warnings 0, prettier --write

feat(summary): enhance Lilys-style prompt with detailed timeline notes
  app/lib/actions/summaryActions.ts
  types/summary.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(summary): improve prompt for content quality and hierarchy
  app/lib/actions/summaryActions.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(summary): add Gemini 3 Flash as default AI provider
  .env.example
  app/lib/actions/geminiSummaryActions.ts
  app/lib/actions/summaryActions.ts
  app/lib/actions/summaryCachingActions.ts
  app/lib/utils/apiKeyValidator.ts
  components/Lesson/SuggestionEditor.tsx
  components/Lesson/SummaryButton.tsx
  components/Lesson/SummaryDisplay.tsx
  components/create-course/QuizModals/LessonModal.tsx
  types/summary.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: add pre-deployment cleanup checklist for HiStudy demo components
  docs/production/deployment.md
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

test: fix failing tests for Jest mock hoisting and module resolution
  __tests__/actions/summaryActions.test.ts
  __tests__/components/LessonContent.test.tsx
  __tests__/components/create-course/QuizModals/AssignmentModal.test.tsx
  __tests__/types/summary.types.test.ts
  components/Checkout/__tests__/Checkout.test.tsx
  tests/integration/__tests__/checkout-flow.test.tsx
  tests/utils/mock-data.ts
  tests/utils/test-helpers.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: HiStudy 데모 컴포넌트 정리 문서화 - Refs #69 (#70)
  __tests__/actions/summaryActions.test.ts
  __tests__/components/LessonContent.test.tsx
  __tests__/components/create-course/QuizModals/AssignmentModal.test.tsx
  __tests__/types/summary.types.test.ts
  components/Checkout/__tests__/Checkout.test.tsx
  docs/production/deployment.md
  docs/work-plans/histudy-demo-cleanup.md
  tests/integration/__tests__/checkout-flow.test.tsx
  tests/utils/mock-data.ts
  tests/utils/test-helpers.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Course Automation CLI and Agent - Closes #71
  .claude/agents/course-creator.md
  .claude/skills/feature-planner/SKILL.md
  .claude/skills/feature-planner/plan-template.md
  .env.example
  __tests__/actions/courseActions.headless.test.ts
  app/lib/actions/courseActions.ts
  app/lib/utils/courseDataMapper.ts
  docs/library/course-automation.md
  docs/plans/PLAN_course-automation.md
  modules/development-guide.md
  scripts/course-automation/create-course.mjs
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

feat: add Docker deployment configuration
  .dockerignore
  Dockerfile
  docker-compose.yml
  next.config.mjs
Due: none

feat: add Docker deployment configuration (#72)
  .dockerignore
  Dockerfile
  docker-compose.yml
  next.config.mjs
Due: none

fix: skip husky in Docker build
  Dockerfile
Due: none

fix: skip husky in Docker build (#73)
  Dockerfile
Due: none

fix(security): remove committed Supabase credentials
  .claude.json
  .gitignore
  scripts/test-get-instructor-courses.js
  scripts/test-instructor-flow.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(roadmap): record resume audit and hold phase schedule
  docs/ROADMAP.md
Due: prettier --write

fix(security): remove committed Supabase credentials (#74)
  .claude.json
  .gitignore
  docs/ROADMAP.md
  scripts/test-get-instructor-courses.js
  scripts/test-instructor-flow.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(handoff): add resume decision handoff and session file
  docs/work-plans/handoff/2026-09-16-resume-decision.md
  session.md
Due: prettier --write

docs(adr): record decision to continue and clean up existing codebase
  docs/ROADMAP.md
  docs/adr/0003-continue-existing-codebase.md
  docs/adr/INDEX.md
  session.md
Due: prettier --write

docs(adr): decide to continue and clean up existing codebase (#75)
  docs/ROADMAP.md
  docs/adr/0003-continue-existing-codebase.md
  docs/adr/INDEX.md
  docs/work-plans/handoff/2026-09-16-resume-decision.md
  session.md
Due: prettier --write

docs(plan): order cleanup tracks T1-T6 and add T1 work plan
  docs/ROADMAP.md
  docs/work-plans/repo-hygiene-ci.md
Due: prettier --write
