Repository Hulkeinstein/dvs-template01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

refactor(ts): remove JavaScript version of layout after verification
  app/layout.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(checkout): resolve PayPal payment flow with controlled component pattern
  .eslintignore
  .eslintrc.json
  DEVELOPMENT_PLAN.md
  components/Checkout/Checkout.tsx
  components/Checkout/CheckoutForm.tsx
  components/Checkout/__tests__/Checkout.test.tsx
  components/Course-Details/Course-Sections/Viedo.tsx
  components/Student/Wishlist.tsx
  tests/e2e/checkout.spec.ts
  tests/integration/__tests__/checkout-flow.test.tsx
  tests/utils/test-helpers.ts
  tests/utils/test-providers.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(email): resolve 403 error and improve confirmation template
  app/lib/actions/orderActions.ts
  app/lib/actions/studentDashboardActions.ts
  docs/production/email-setup.md
  supabase/migrations/20251025_fix_rpc_status_type.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): add type assertions for Supabase relation queries
  app/lib/actions/orderActions.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(bookmark): update heart icon styles with consistent sizing
  public/scss/elements/_card.scss
Due: prettier --write

feat(payment): add 4-layer duplicate enrollment prevention
  app/api/enrollments/check/route.ts
  app/api/payment/paypal/capture/route.ts
  app/api/payment/paypal/create-order/route.ts
  components/Course-Details/Course-Sections/Viedo.tsx
  supabase/migrations/20251026_add_enrollment_unique_constraint.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(bookmark): add bookmark functionality to all-courses page
  app/(courses)/all-courses/index.tsx
  components/Category/Filter/CourseFilterOneToggle.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(lint): escape apostrophe in CartPage.tsx
  components/Cart/CartPage.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(bookmark): add bookmark to student-enrolled-course page
  components/Instructor/Dashboard-Section/widgets/CourseWidget.tsx
  components/Student/EnrolledCoursesTS.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: organize completed work into library structure
  docs/work-plans/checkout-improvement.md
Due: prettier --write

docs: add library documentation and update development plan
  DEVELOPMENT_PLAN.md
  docs/library/.gitkeep
  docs/library/bookmark.md
  docs/library/checkout.md
Due: prettier --write

docs: optimize workflow memory and add token efficiency guide
  CLAUDE.md
  docs/guides/token-efficiency.md
  modules/development-guide.md
  modules/git-workflow.md
  modules/task-automation.md
  modules/workflow.md
  modules/workflow/development-guide.md
  modules/workflow/git-workflow.md
  modules/workflow/hybrid-system.md
  modules/workflow/task-automation.md
Due: prettier --write

fix(types): add missing consent fields to CheckoutFormData
  types/checkout.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: optimize memory by relocating reference docs
  CLAUDE.md
  docs/architecture/database-schema.md
  docs/production/deployment.md
Due: prettier --write

docs: optimize memory by removing 8 redundant files
  CLAUDE.md
  DEVELOPMENT_PLAN.md
  docs/external-services/REGISTRY.md
  docs/external-services/external-services.md
  docs/external-services/mcp.md
  docs/external-services/paypal.md
  docs/external-services/stripe.md
  modules/architecture.md
  modules/authentication-system.md
  modules/common-issues.md
  modules/database-migration-guide.md
  modules/environment-setup.md
  modules/quiz-system.md
  modules/ui-rules.md
  modules/workflow.md
Due: prettier --write

docs: remove unused typescript-migration system
  .claude/agents/typescript-migration/agent.md
  .claude/agents/typescript-migration/config.json
  .claude/agents/typescript-migration/migration-plan.md
  .claude/agents/typescript-migration/progress.json
  .claude/agents/typescript-migration/typescript-migrator.md
  CLAUDE.md
Due: prettier --write

docs: redesign workflow to use GitHub directly instead of DEVELOPMENT_PLAN.md
  modules/workflow/hybrid-system.md
Due: prettier --write

docs: consolidate workflow docs (4→2 files, -110 lines)
  CLAUDE.md
  modules/workflow/development-guide.md
  modules/workflow/git-workflow.md
  modules/workflow/task-automation.md
  modules/workflow/workflow.md
Due: prettier --write

docs: flatten modules structure (remove workflow subfolder)
  CLAUDE.md
  modules/development-guide.md
  modules/workflow.md
Due: prettier --write

docs: optimize test strategy (move to docs/, add core guidelines to dev guide)
  docs/testing/strategy.md
  modules/development-guide.md
  modules/test-strategy-advanced.md
Due: prettier --write

docs: remove duplicates between workflow & dev guide (-53 lines)
  modules/development-guide.md
  modules/workflow.md
Due: prettier --write

docs: optimize memory files (Option 2 + Must Add + GPT-5 filters)
  modules/architecture.md
  modules/development-guide.md
  modules/workflow.md
Due: prettier --write

docs: optimize workflow memory and add token efficiency guide (#47)
  .claude/agents/typescript-migration/agent.md
  .claude/agents/typescript-migration/config.json
  .claude/agents/typescript-migration/migration-plan.md
  .claude/agents/typescript-migration/progress.json
  .claude/agents/typescript-migration/typescript-migrator.md
  CLAUDE.md
  DEVELOPMENT_PLAN.md
  docs/architecture/database-schema.md
  docs/external-services/REGISTRY.md
  docs/external-services/external-services.md
  docs/external-services/mcp.md
  docs/external-services/paypal.md
  docs/external-services/stripe.md
  docs/guides/token-efficiency.md
  docs/production/deployment.md
  docs/testing/strategy.md
  modules/architecture.md
  modules/authentication-system.md
  modules/common-issues.md
  modules/database-migration-guide.md
  modules/development-guide.md
  modules/environment-setup.md
  modules/git-workflow.md
  modules/quiz-system.md
  modules/task-automation.md
  modules/test-strategy-advanced.md
  modules/ui-rules.md
  modules/workflow.md
  types/checkout.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: add Work Plan system for context management
  CLAUDE.md
  docs/work-plans/docs-improvement.md
  docs/workflows/work-plan-guide.md
Due: prettier --write

docs: complete Phase 0 - add documentation index files
  docs/README.md
Due: prettier --write

docs(Phase 1): fix memory file errors in AUTOMATION_GUIDE and CLAUDE
  docs/AUTOMATION_GUIDE.md
  docs/CLAUDE.md
  docs/architecture/system-design.md
  docs/external-services/REGISTRY.md
  docs/testing/TEST_REPORT.md
  docs/troubleshooting/.gitkeep
  docs/work-plans/docs-improvement.md
Due: prettier --write

docs(Phase 2): add kebab-case rules to development guide
  modules/development-guide.md
Due: prettier --write

docs(Phase 2): update Work Plan with completion details
  docs/work-plans/docs-improvement.md
Due: prettier --write

docs(p3.1): define front-matter standard with namespace tags
  docs/README.md
  modules/development-guide.md
Due: prettier --write

docs(p3.3): add front-matter to 6 files with namespace tags
  docs/AUTOMATION_GUIDE.md
  docs/ENROLLED_STUDENTS_MIGRATION.md
  docs/GOOGLE_OAUTH_SETUP.md
  docs/TEST_QUALITY_GUIDE.md
  docs/WORKFLOW_EXAMPLES.md
  docs/admin-sso-setup.md
Due: prettier --write

docs(p3.3): rename UPPERCASE files to kebab-case with aliases
  docs/automation-guide.md
  docs/enrolled-students-migration.md
  docs/google-oauth-setup.md
  docs/test-quality-guide.md
  docs/workflow-examples.md
Due: prettier --write

docs(p3.4): resolve status conflict and add Obsidian principles
  docs/CLAUDE.md
  docs/README.md
  docs/admin-sso-setup.md
  docs/automation-guide.md
  docs/enrolled-students-migration.md
  docs/google-oauth-setup.md
  docs/test-quality-guide.md
  docs/workflow-examples.md
Due: prettier --write

docs(p3.5): complete Phase 3 in Work Plan
  docs/work-plans/docs-improvement.md
Due: prettier --write

feat(p4.1): add Front-matter verification script
  package.json
  scripts/verify-frontmatter.mjs
Due: prettier --write

feat(p4.2): add Markdown validation tools
  .markdownlint.json
  docs/CLAUDE.md
  package-lock.json
  package.json
  scripts/check-links.mjs
Due: prettier --write

feat(p4.3): add CI docs validation workflow
  .github/workflows/docs-check.yml
Due: none

feat(p5.1): add Front-matter to all 18 docs files
  docs/CLAUDE.md
  docs/README.md
  docs/architecture/database-schema.md
  docs/architecture/system-design.md
  docs/external-services/REGISTRY.md
  docs/external-services/external-services.md
  docs/external-services/mcp.md
  docs/external-services/paypal.md
  docs/external-services/stripe.md
  docs/guides/token-efficiency.md
  docs/library/bookmark.md
  docs/library/checkout.md
  docs/production/deployment.md
  docs/production/email-setup.md
  docs/testing/TEST_REPORT.md
  docs/testing/strategy.md
  docs/work-plans/docs-improvement.md
  docs/workflows/work-plan-guide.md
Due: prettier --write

feat(p5.2): fix major broken links
  docs/architecture/system-design.md
  docs/external-services/mcp.md
  docs/external-services/paypal.md
  docs/external-services/stripe.md
  docs/production/email-setup.md
Due: prettier --write

feat(p5.3): enable CI strict mode for docs validation
  .github/workflows/docs-check.yml
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,scss,css})
