Repository Hulkeinstein/dvs-template01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{json,md,scss,css}": ["prettier --write"]
}

docs(plan): check off P0 and P1 in T1 work plan
  docs/work-plans/repo-hygiene-ci.md
Due: prettier --write

chore: untrack build artifacts and drop ad-hoc debug SQL
  .gitignore
  build_log.txt
  check_quiz.sql
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-version
  tsconfig.tsbuildinfo
Due: none

style: apply prettier to files flagged by format:check
  __tests__/actions/summaryCaching.test.ts
  __tests__/actions/transcriptActions.test.ts
  __tests__/components/SummaryButton.test.tsx
  __tests__/components/SummaryDisplay.test.tsx
  __tests__/integration/summaryFlow.test.ts
  app/(courses)/(lessons)/lesson/[id]/LessonContent.js
  app/api/webhooks/paypal/route.ts
  app/lib/actions/lessonActions.js
  app/lib/actions/progressActions.ts
  app/lib/actions/transcriptActions.ts
  app/lib/course-providers/CourseProvider.ts
  app/lib/course-providers/DatabaseCourseProvider.ts
  app/lib/paypal.ts
  app/lib/services/paymentService.ts
  app/lib/utils/cartKey.ts
  app/lib/utils/youtube.ts
  components/Cards/Card.js
  components/Checkout/AddressForm.tsx
  components/Checkout/CartSummary.tsx
  components/Course-Details/CourseDetails-One.js
  components/Header/Offcanvas/User.js
  components/Lesson/CreatorInfo.tsx
  components/Lesson/LessonCompleteButton.tsx
  components/Lesson/LessonVideo.tsx
  components/create-course/CreateCourse.tsx
  context/CartProvider.tsx
  docker-compose.yml
  hooks/useCart.ts
  redux/reducer/CartReducer.ts
  scripts/check-links.mjs
  scripts/course-automation/create-course.mjs
  scripts/verify-frontmatter.mjs
  tests/e2e/assignment-template.spec.ts
  tests/e2e/payment-security.spec.ts
  tests/selectors.ts
  types/cart.ts
  types/course-provider.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): update next to 14.2.35 and next-auth to 4.24.15
  package-lock.json
  package.json
Due: prettier --write

docs(plan): record P0 baseline and check off P2-P4
  docs/work-plans/repo-hygiene-ci.md
Due: prettier --write

ci: update react-pdf guard to allow server-only receipt modules
  .github/workflows/lint-check.yml
Due: none

fix(email): create Resend client lazily so builds without an API key succeed
  app/lib/actions/passwordActions.ts
  app/lib/services/emailService.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(supabase): use the shared lazy server client instead of module-scope clients
  app/lib/actions/adminOrderActions.ts
  app/lib/actions/orderActions.ts
  app/lib/services/paymentService.ts
  app/lib/supabase/admin.js
Due: eslint --fix --max-warnings 0, prettier --write

test: stop treating TS files as ESM in jest config
  jest.config.js
Due: eslint --fix --max-warnings 0, prettier --write

style: drop the blank line left by the jest config change
  jest.config.js
Due: eslint --fix --max-warnings 0, prettier --write

docs: close out T1 and remove completed work plans
  docs/ROADMAP.md
  docs/adr/0002-youtube-ai-summarization.md
  docs/work-plans/repo-hygiene-ci.md
  docs/work-plans/youtube-ai-summarization.md
  docs/work-plans/youtube-description-fetching.md
Due: prettier --write

ci: catch react-pdf reaching a client module through components/PDF
  .github/workflows/lint-check.yml
  docs/ROADMAP.md
  jest.config.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): expand T2 demo removal work plan
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): record T2 phase 1 baseline (T001)
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): add route and file classifier for demo removal (T002)
  docs/work-plans/histudy-demo-cleanup.md
  scripts/demo-removal/graph.mjs
  scripts/demo-removal/route-map.mjs
Due: prettier --write

docs(plan): accept T002 unresolved import baseline and check off T002
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): add route link checker and record link baseline (T003)
  docs/work-plans/histudy-demo-cleanup.md
  scripts/demo-removal/check-route-links.mjs
Due: prettier --write

docs(plan): check off T003
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(demo): add restore map generator and draft removal record (T004)
  docs/library/histudy-demo-removal.md
  scripts/demo-removal/render-doc.mjs
Due: prettier --write

docs(plan): check off T004 (phase 1 complete)
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

fix(demo): classify deleted routes from tag and flag new missing links
  docs/work-plans/histudy-demo-cleanup.md
  scripts/demo-removal/check-route-links.mjs
Due: prettier --write

docs(demo): flag modified shared files and real-data code in restore record
  docs/library/histudy-demo-removal.md
  scripts/demo-removal/graph.mjs
  scripts/demo-removal/render-doc.mjs
Due: prettier --write

docs(plan): log phase 1 completion and validator rounds
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): fix code span spacing lint in T003 spec
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): refine T2 phase 2 into executable tasks
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

docs(plan): drop [P] from phase 2 tasks that depend on T022, fix R3 count
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

fix(demo): compare missing links against baseline by count (T022)
  scripts/demo-removal/check-route-links.mjs
Due: none

docs(plan): check off T022
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): drop demo menus and cart demo links from header
  components/Cart/CartItems.tsx
  components/Header/Header-Top/HeaderTop-Eight.js
  components/Header/HeaderStyle-Ten.js
  components/Header/Nav.js
  components/Header/Offcanvas/Cart.js
  data/MegaMenu.json
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): log T022 and T005, check off T005
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): drop demo and broken links from footer
  components/Footer/CopyRight.js
  data/footer.json
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): log and check off T006
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): remove demo route branches from course detail and list
  app/(courses)/course-details/index.js
  components/Category/CategoryHead.js
  components/Category/CategoryOne.js
  components/Course-Details/Course-Sections/Content.js
  components/Course-Details/Course-Sections/Course-Action-Bottom.js
  components/Course-Details/Course-Sections/Course-Menu.js
  components/Course-Details/Course-Sections/Featured.js
  components/Course-Details/Course-Sections/Overview.js
  components/Course-Details/Course-Sections/Viedo.tsx
  components/Course-Details/Course-Sections/course-head.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): log and check off T007
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): unlink removed profile route from course cards and data
  components/Cards/Card.js
  components/Category/Filter/CourseFilterOneToggle.tsx
  components/Course-Details/Course-Sections/Breadcrumb/Course-Breadcrumb.js
  components/Course-Details/Course-Sections/Instructor.js
  components/Course-Details/Course-Sections/RelatedCourse.js
  components/Course-Details/Course-Sections/SimilarCourses.js
  data/course-details/courseData.json
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): log and check off T023
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write

chore(demo): unlink demo lesson and quiz routes
  components/Lesson/LessonQuiz.js
  components/Lesson/LessonSidebar.js
  data/lesson.json
Due: eslint --fix --max-warnings 0, prettier --write

docs(plan): log and check off T008
  docs/work-plans/histudy-demo-cleanup.md
Due: prettier --write
