Repository Hulkeinstein/dvs-template01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

Refactor AssignmentModal to use AssignmentLesson type, fix TS errors, and remove 'as any' from Lesson.tsx
  __tests__/components/create-course/QuizModals/AssignmentModal.test.tsx
  components/create-course/QuizModals/AssignmentModal.tsx
  components/create-course/QuizModals/QuizModal.tsx
  components/create-course/QuizTab/Question.tsx
  components/create-course/lesson/Lesson.tsx
  docs/work-plans/assignment-modal-improvements.md
Due: eslint --fix --max-warnings 0, prettier --write

fix(assignment): fix handleSubmit result check for void return
  components/create-course/QuizModals/AssignmentModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(work-plan): sync assignment modal improvements status
  docs/work-plans/assignment-modal-improvements.md
Due: prettier --write

fix(assignment): fix new assignment not appearing in list
  components/create-course/CreateCourse.tsx
  components/create-course/InfoFormNew.tsx
  components/create-course/QuizTab/Question.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(assignment): resolve modal backdrop blocking Update Course button
  __tests__/components/CreateCourse.test.tsx
  app/hooks/useAutoSave.ts
  app/layout.tsx
  app/lib/actions/courseActions.ts
  app/lib/utils/courseDataMapper.ts
  components/create-course/CreateCourse.tsx
  components/create-course/QuizModals/AssignmentModal.tsx
  components/create-course/lesson/Lesson.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

feat(assignment): replace prompt() with inline template input and improve dropdown UX
  components/create-course/QuizModals/AssignmentModal.tsx
  public/scss/elements/_modal.scss
Due: eslint --fix --max-warnings 0, prettier --write

feat(course): add delete confirmation modal and migrate SingleLesson to TypeScript
  components/create-course/lesson/Lesson.tsx
  components/create-course/lesson/SingleLesson.js
  components/create-course/lesson/SingleLesson.tsx
  components/ui/ConfirmDeleteModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(instructor): restore edit restriction for published/pending courses
  components/Instructor/MyCourses.tsx
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

docs(workflow): add Work Plan Protocol section
  modules/workflow.md
Due: prettier --write

docs: add user guides structure for instructor and student
  docs/README.md
  docs/user-guides/README.md
  docs/user-guides/instructor/course-status-workflow.md
  docs/user-guides/student/enrollment.md
Due: prettier --write

docs(workflow): add Rejected status to course workflow
  docs/user-guides/instructor/course-status-workflow.md
Due: prettier --write

fix(quiz): save quiz to DB immediately in edit mode to get UUID
  components/create-course/CreateCourse.tsx
  components/create-course/QuizModals/QuizModal.tsx
  types/create-course.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove debug console.log statements from create-course components
  components/create-course/CreateCourse.tsx
  components/create-course/QuizModals/AssignmentModal.tsx
  components/create-course/QuizModals/LessonModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: edit-course improvements + user guides (#56)
  components/Instructor/MyCourses.tsx
  components/create-course/CreateCourse.tsx
  components/create-course/QuizModals/AssignmentModal.tsx
  components/create-course/QuizModals/LessonModal.tsx
  components/create-course/QuizModals/QuizModal.tsx
  docs/README.md
  docs/user-guides/README.md
  docs/user-guides/instructor/course-status-workflow.md
  docs/user-guides/student/enrollment.md
  modules/workflow.md
  package-lock.json
  package.json
  types/create-course.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: instructor dashboard dark mode visibility issues
  public/scss/template/_instructor-dashboard.scss
Due: prettier --write

fix: instructor dashboard data connections, dark mode, and TS migration
  app/(dashboard)/(instructor)/instructor-course-reviews/(course-reviews)/index.tsx
  app/(dashboard)/(instructor)/instructor-course-reviews/page.tsx
  app/(dashboard)/(instructor)/instructor-enrolled-course/(enrolled-course)/EnrolledStudentsClient.tsx
  app/(dashboard)/(instructor)/instructor-enrolled-course/(enrolled-course)/index.tsx
  app/(dashboard)/(instructor)/instructor-order-history/(order-history)/index.tsx
  app/(dashboard)/(instructor)/instructor-order-history/page.js
  app/(dashboard)/(instructor)/instructor-order-history/page.tsx
  app/(dashboard)/(instructor)/instructor-quiz-attempts/(quiz-attempts)/index.tsx
  app/(dashboard)/(instructor)/instructor-reviews/(reviews)/index.tsx
  app/(dashboard)/(instructor)/instructor-wishlist/(wishlist)/index.tsx
  app/lib/actions/orderActions.ts
  app/lib/actions/reviewActions.ts
  app/lib/constants/routes.ts
  app/lib/utils/roleRoutes.ts
  components/Instructor/CourseReviews.tsx
  components/Instructor/Dashboard-Section/MyCourses.js
  components/Instructor/Dashboard-Section/MyCourses.tsx
  components/Instructor/OrderHistory.js
  components/Instructor/OrderHistory.tsx
  components/Instructor/Settings.js
  components/Instructor/Settings.tsx
  components/Instructor/Wishlist.js
  components/Student/Reviews.js
  components/Student/Reviews.tsx
  components/Student/Settings.tsx
  components/Student/Wishlist.js
  data/dashboard/sidebar-items.json
  public/scss/elements/_phone-input.scss
  public/scss/template/_instructor-dashboard.scss
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix: instructor dashboard dark mode visibility issues (#57)
  app/(dashboard)/(instructor)/instructor-course-reviews/(course-reviews)/index.tsx
  app/(dashboard)/(instructor)/instructor-course-reviews/page.tsx
  app/(dashboard)/(instructor)/instructor-enrolled-course/(enrolled-course)/EnrolledStudentsClient.tsx
  app/(dashboard)/(instructor)/instructor-enrolled-course/(enrolled-course)/index.tsx
  app/(dashboard)/(instructor)/instructor-order-history/(order-history)/index.tsx
  app/(dashboard)/(instructor)/instructor-order-history/page.js
  app/(dashboard)/(instructor)/instructor-order-history/page.tsx
  app/(dashboard)/(instructor)/instructor-quiz-attempts/(quiz-attempts)/index.tsx
  app/(dashboard)/(instructor)/instructor-reviews/(reviews)/index.tsx
  app/(dashboard)/(instructor)/instructor-wishlist/(wishlist)/index.tsx
  app/lib/actions/orderActions.ts
  app/lib/actions/reviewActions.ts
  app/lib/constants/routes.ts
  app/lib/utils/roleRoutes.ts
  components/Instructor/CourseReviews.tsx
  components/Instructor/Dashboard-Section/MyCourses.js
  components/Instructor/Dashboard-Section/MyCourses.tsx
  components/Instructor/OrderHistory.js
  components/Instructor/OrderHistory.tsx
  components/Instructor/Settings.js
  components/Instructor/Settings.tsx
  components/Instructor/Wishlist.js
  components/Student/Reviews.js
  components/Student/Reviews.tsx
  components/Student/Settings.tsx
  components/Student/Wishlist.js
  data/dashboard/sidebar-items.json
  public/scss/elements/_phone-input.scss
  public/scss/template/_instructor-dashboard.scss
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

feat(payment): payment security upgrade - Closes #58
  app/api/payment/paypal/capture/route.ts
  app/api/payment/paypal/create-order/route.ts
  app/lib/actions/adminOrderActions.ts
  app/lib/checkout/priceCalculator.ts
  docs/work-plans/payment-security-upgrade.md
  supabase/migrations/20251213_enrollment_unique_constraint.sql
  types/checkout.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: cleanup test output files, update docs, and migrate auth config to TS
  .env.example
  .gitignore
  app/(pages)/order-success/(order-success)/index.tsx
  app/api/auth/[...nextauth]/auth.config.ts
  app/api/payment/paypal/create-order/route.ts
  app/api/webhooks/paypal/route.ts
  app/lib/actions/orderActions.ts
  app/lib/paypal.ts
  app/lib/services/emailService.ts
  app/lib/services/paymentService.ts
  docs/guides/paypal-webhook-setup.md
  docs/production/deployment.md
  docs/work-plans/payment-security-upgrade.md
  package-lock.json
  package.json
  tests/e2e/payment-security.spec.ts
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

docs: promote payment-security work plan to library
  docs/library/payment-security.md
  docs/work-plans/payment-security-upgrade.md
Due: prettier --write

docs: add assignment system completion work plan
  docs/work-plans/assignment-system-completion.md
Due: prettier --write

fix: resolve ESLint errors in auth.config.ts
  app/api/auth/[...nextauth]/auth.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(payment): payment security upgrade - Closes #58 (#59)
  .env.example
  .gitignore
  app/(pages)/order-success/(order-success)/index.tsx
  app/api/auth/[...nextauth]/auth.config.ts
  app/api/payment/paypal/capture/route.ts
  app/api/payment/paypal/create-order/route.ts
  app/api/webhooks/paypal/route.ts
  app/lib/actions/adminOrderActions.ts
  app/lib/actions/orderActions.ts
  app/lib/checkout/priceCalculator.ts
  app/lib/paypal.ts
  app/lib/services/emailService.ts
  app/lib/services/paymentService.ts
  docs/guides/paypal-webhook-setup.md
  docs/library/payment-security.md
  docs/production/deployment.md
  docs/work-plans/assignment-system-completion.md
  package-lock.json
  package.json
  supabase/migrations/20251213_enrollment_unique_constraint.sql
  tests/e2e/payment-security.spec.ts
  tsconfig.tsbuildinfo
  types/checkout.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: promote assignment system to library - Closes #10
  docs/library/assignment-system.md
  docs/work-plans/assignment-modal-improvements.md
  docs/work-plans/assignment-system-completion.md
  docs/work-plans/assignment-template-system.md
Due: prettier --write

docs: promote assignment system to library - Closes #10 (#60)
  docs/library/assignment-system.md
  docs/work-plans/assignment-modal-improvements.md
  docs/work-plans/assignment-system-completion.md
  docs/work-plans/assignment-template-system.md
Due: prettier --write

docs: add code review to dark mode flash work plan
  docs/work-plans/dark-mode-header-flash.md
Due: prettier --write

fix(theme): SSR prop passing으로 다크모드 깜빡임 제거
  app/Providers.js
  app/layout.tsx
  context/Context.js
  tests/e2e/assignment-template.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add playwright config and update gitignore
  .gitignore
  playwright.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(theme): 다크모드 깜빡임 제거 (SSR Prop Passing) (#61)
  .gitignore
  app/Providers.js
  app/layout.tsx
  context/Context.js
  docs/work-plans/dark-mode-header-flash.md
  playwright.config.ts
  tests/e2e/assignment-template.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(build): resolve PayPal/Resend module errors in client bundle
  app/(pages)/checkout/success/CapturePayment.tsx
  app/(pages)/order-success/(order-success)/index.tsx
  app/api/orders/by-number/route.ts
  app/api/payment/paypal/capture-redirect/route.ts
  app/lib/actions/orderActions.ts
  docs/work-plans/dark-mode-header-flash.md
  next.config.mjs
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

test: improve E2E selectors and helpers for checkout flow
  tests/helpers/course.ts
  tests/selectors.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: update application logos for dark and light modes
  public/images/dark/logo/logo-light.png
  public/images/logo/logo.png
Due: none

fix(dashboard): integrate real data into Student Dashboard
  app/(dashboard)/(student)/student-dashboard/(dashboard)/index.js
  app/(dashboard)/(student)/student-dashboard/StudentDashboardClient.tsx
  app/(dashboard)/dashboard/page.tsx
  components/Student/Dashboard.js
  docs/test-specs/student-dashboard-spec.md
  docs/work-plans/fix-student-dashboard-data.md
  tests/helpers/course.ts
  testsprite_tests/TC001_Load_Dashboard_with_Real_Data.py
  testsprite_tests/TC002_Validate_My_Courses_Grid_Rendering.py
  testsprite_tests/TC003_Continue_Learning_Section_Displays_Correct_Next_Lesson.py
  testsprite_tests/TC004_Overall_Progress_Circular_Indicator_Accuracy.py
  testsprite_tests/TC005_Empty_State_Handling_for_No_Enrollments.py
  testsprite_tests/TC006_Data_Integration_Using_userId_Prop_and_Server_Action.py
  testsprite_tests/TC007_TypeScript_Migration_Cleanup_Verification.py
  testsprite_tests/TC008_Navigation_Verification_from_Dashboard_Cards_and_Buttons.py
  testsprite_tests/TC009_UI_Responsiveness_and_Visual_Integrity.py
  testsprite_tests/standard_prd.json
  testsprite_tests/testsprite-mcp-test-report.html
  testsprite_tests/testsprite-mcp-test-report.md
  testsprite_tests/testsprite_frontend_test_plan.json
  testsprite_tests/tmp/code_summary.json
  testsprite_tests/tmp/config.json
  testsprite_tests/tmp/prd_files/student-dashboard-spec.md
  testsprite_tests/tmp/raw_report.md
  testsprite_tests/tmp/test_results.json
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): implement hybrid authentication with email/password login
  app/api/auth/[...nextauth]/auth.config.ts
  components/Category/Filter/CourseFilterOneToggle.tsx
  components/Login/Login.js
  components/Login/Login.tsx
  components/Student/Settings.tsx
  docs/work-plans/hybrid-auth.md
Due: eslint --fix --max-warnings 0, prettier --write

feat: Student Dashboard data integration & Hybrid Authentication (#63)
  app/(dashboard)/(student)/student-dashboard/(dashboard)/index.js
  app/(dashboard)/(student)/student-dashboard/StudentDashboardClient.tsx
  app/(dashboard)/dashboard/page.tsx
  app/api/auth/[...nextauth]/auth.config.ts
  components/Category/Filter/CourseFilterOneToggle.tsx
  components/Login/Login.js
  components/Login/Login.tsx
  components/Student/Dashboard.js
  components/Student/Settings.tsx
  docs/test-specs/student-dashboard-spec.md
  docs/work-plans/fix-student-dashboard-data.md
  docs/work-plans/hybrid-auth.md
  tests/helpers/course.ts
  testsprite_tests/TC001_Load_Dashboard_with_Real_Data.py
  testsprite_tests/TC002_Validate_My_Courses_Grid_Rendering.py
  testsprite_tests/TC003_Continue_Learning_Section_Displays_Correct_Next_Lesson.py
  testsprite_tests/TC004_Overall_Progress_Circular_Indicator_Accuracy.py
  testsprite_tests/TC005_Empty_State_Handling_for_No_Enrollments.py
  testsprite_tests/TC006_Data_Integration_Using_userId_Prop_and_Server_Action.py
  testsprite_tests/TC007_TypeScript_Migration_Cleanup_Verification.py
  testsprite_tests/TC008_Navigation_Verification_from_Dashboard_Cards_and_Buttons.py
  testsprite_tests/TC009_UI_Responsiveness_and_Visual_Integrity.py
  testsprite_tests/standard_prd.json
  testsprite_tests/testsprite-mcp-test-report.html
  testsprite_tests/testsprite-mcp-test-report.md
  testsprite_tests/testsprite_frontend_test_plan.json
  testsprite_tests/tmp/code_summary.json
  testsprite_tests/tmp/config.json
  testsprite_tests/tmp/prd_files/student-dashboard-spec.md
  testsprite_tests/tmp/raw_report.md
  testsprite_tests/tmp/test_results.json
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

feat(youtube): YouTube 큐레이션 MVP 구현
  .gitignore
  app/(courses)/(lessons)/lesson/[id]/LessonContent.js
  app/lib/actions/lessonActions.js
  app/lib/actions/progressActions.ts
  app/lib/actions/youtubeActions.ts
  app/lib/utils/youtube.ts
  components/Lesson/CreatorInfo.tsx
  components/Lesson/LessonCompleteButton.tsx
  components/Lesson/LessonTop.js
  components/Lesson/LessonVideo.tsx
  components/create-course/QuizModals/LessonModal.tsx
  docs/work-plans/youtube-curation-mvp.md
  next.config.mjs
  public/scss/styles.scss
  public/scss/template/_youtube-player.scss
  supabase/migrations/20251218_lesson_progress_rls.sql
  supabase/migrations/20251218_youtube_unique_index.sql
  tsconfig.tsbuildinfo
  types/create-course.ts
  types/youtube.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Work Plan Library 변환 (youtube-curation)
  docs/library/youtube-curation.md
  docs/work-plans/youtube-curation-mvp.md
Due: prettier --write

docs: Library 문서 생성 (youtube-curation)
  docs/library/youtube-curation.md
Due: prettier --write

chore: 완료된 Work Plan 정리
  docs/work-plans/fix-student-dashboard-data.md
  docs/work-plans/hybrid-auth.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,scss,css})
