Repository Hulkeinstein/dvs-template01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix: _card.scss 파일 원본 복구로 스타일 문제 해결
  public/scss/elements/_card.scss
Due: prettier --write

fix: Card 스타일 복구 및 레이아웃 문제 해결 (#23)
  public/scss/elements/_card.scss
Due: prettier --write

fix: CourseWidget 카드 크기 고정 - variation-05 추가
  components/Instructor/Dashboard-Section/widgets/CourseWidget.js
  public/scss/elements/_card.scss
Due: eslint --fix --max-warnings 0, prettier --write

test: CI 파이프라인 테스트 및 개선
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint-check.yml
  .gitignore
  .nvmrc
  README.md
  app/lib/supabase/client.ts
  app/lib/utils/contentHelpers.ts
  app/lib/utils/debugHelper.ts
  app/lib/utils/fileUpload.ts
  app/lib/utils/logger.ts
  app/lib/utils/otp.ts
  app/lib/utils/phoneVerification.ts
  app/lib/utils/testCourseDataMapper.ts
  app/lib/utils/videoUtils.ts
  constants/sampleAssignmentData.ts
  package.json
  progress.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: TypeScript 타입 에러 수정
  __tests__/utils/courseDataMapper.test.ts
  app/api/auth/[...nextauth]/route.js
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix: Prettier 포맷팅 수정
  .github/workflows/lint-check.yml
  tsconfig.json
Due: prettier --write

fix: Synchronize package-lock.json and add CI stabilization
  .github/workflows/lint-check.yml
Due: none

fix: Add @react-pdf/renderer to transpilePackages for ESM compatibility
  next.config.mjs
Due: none

fix: Configure Next.js for @react-pdf/renderer ESM compatibility
  next.config.mjs
Due: none

fix: Remove @react-pdf/renderer ESM dependencies to fix build
  app/api/certificates/generate/route.js
  components/Certificate/CertificateView.js
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: Complete isolation of @react-pdf/renderer and remove font hardcoding
  .github/workflows/lint-check.yml
  app/api/certificates/generate/route.js
  app/lib/certificate/actions/generatePDF.js
  app/lib/certificate/core/generator.js
  app/lib/certificate/templates/DefaultTemplate.js
  app/lib/certificate/templates/index.js
  components/Become-a-Teacher/TeacherGallery.js
  components/Blogs/BlogDetails.js
  components/Category/CategoryNine.js
  components/Category/CategoryThreeSlider.js
  components/Category/CategoryTwo.js
  next.config.mjs
  package-lock.json
  package.json
  public/scss/default/_fonts.scss
  public/scss/default/_typography.scss
Due: eslint --fix --max-warnings 0, prettier --write

fix: Escape quotes in CertificateView to fix ESLint error
  components/Certificate/CertificateView.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(prettier): format API route and CertificateView
  app/api/certificates/generate/route.js
  components/Certificate/CertificateView.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: remove generator import and use inline certificate number generation
  app/lib/certificate/actions/certificateActions.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: remove unnecessary font registration in PDF API and improve CI guards
  .github/workflows/lint-check.yml
  app/api/certificates/generate/route.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: remove Nanum Pen Script font completely and export authOptions
  app/api/auth/[...nextauth]/route.js
  app/fonts.js
  public/scss/default/_fonts.scss
Due: eslint --fix --max-warnings 0, prettier --write

fix: separate authOptions to auth.config.js for Next.js App Router compliance
  app/(dashboard)/(instructor)/instructor-profile/page.js
  app/(dashboard)/(instructor)/instructor-settings/page.js
  app/(dashboard)/(student)/student-settings/page.js
  app/(dashboard)/dashboard/page.js
  app/api/auth/[...nextauth]/auth.config.js
  app/api/auth/[...nextauth]/route.js
  app/api/auth/phone/send-otp/route.js
  app/api/auth/phone/verify-otp/route.js
  app/api/user/profile/route.js
  app/certificate/[id]/page.js
  app/lib/actions/announcementActions.js
  app/lib/actions/assignmentActions.js
  app/lib/actions/courseActions.js
  app/lib/actions/courseContentActions.js
  app/lib/actions/lessonActions.js
  app/lib/actions/topicActions.js
  app/lib/actions/uploadActions.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: apply Prettier formatting to auth files
  app/api/auth/[...nextauth]/auth.config.js
  app/api/auth/[...nextauth]/route.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: make Supabase client initialization lazy to prevent build failures
  app/api/auth/[...nextauth]/auth.config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: Supabase client lazy initialization to prevent CI build errors
  app/lib/supabase/client.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: Apply Prettier formatting to client.ts
  app/lib/supabase/client.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Use lazy-initialized Supabase client in phone API routes
  app/api/auth/phone/send-otp/route.js
  app/api/auth/phone/verify-otp/route.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: Replace all direct Supabase client creations with lazy-initialized client
  app/api/test-db/route.js
  app/api/user/profile/route.js
  app/lib/actions/badgeActions.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: Make test step non-blocking in CI
  .github/workflows/lint-check.yml
Due: none

fix(ci): restore test gate and enable ESM modules in CI
  .github/workflows/lint-check.yml
Due: none

test: mock jose module to fix ESM issues in Jest
  __mocks__/jose.ts
  jest.config.js
Due: eslint --fix --max-warnings 0, prettier --write

style: Apply Prettier formatting to jose mock
  __mocks__/jose.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: fix ESM module issues and skip broken path tests
  __mocks__/@panva/hkdf.js
  __mocks__/next-auth/index.js
  __mocks__/next-auth/react.js
  __tests__/pages/instructor/courses/edit.test.js
  jest.config.js
Due: eslint --fix --max-warnings 0, prettier --write

style: format mock files with prettier
  __mocks__/@panva/hkdf.js
  __mocks__/next-auth/index.js
  __mocks__/next-auth/react.js
Due: eslint --fix --max-warnings 0, prettier --write

test: fix Supabase client mocking for tests
  __mocks__/@supabase/supabase-js.js
  jest.setup.js
Due: eslint --fix --max-warnings 0, prettier --write

test: temporarily skip failing tests to fix CI
  __tests__/actions/lessonActions.test.js
  __tests__/actions/uploadActions.test.js.skip
  __tests__/components/create-course/CreateCourse.test.js.skip
  __tests__/components/create-course/InfoForm.test.js.skip
  __tests__/components/create-course/QuizModals/LessonModal.test.js.skip
  __tests__/components/create-course/QuizModals/ModalIDDuplication.test.js.skip
  __tests__/components/create-course/QuizModals/TopicModal.test.js.skip
Due: eslint --fix --max-warnings 0, prettier --write

test: skip remaining failing tests for CI
  __tests__/pages/instructor/courses/edit.test.js.skip
  __tests__/utils/fileUpload.test.js.skip
Due: none

test: add network blocking and timer cleanup
  jest.setup.js
  tests/polyfills.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: standardize jest config with coverage gates
  .nvmrc
  jest.config.js
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

test: add browser API polyfills and test helpers
  jest.setup.js
  tests/utils/test-helpers.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: introduce repository pattern for data access
  app/lib/repositories/base.repository.ts
  app/lib/repositories/course.repository.ts
  app/lib/repositories/enrollment.repository.ts
  app/lib/repositories/index.ts
  app/lib/repositories/lesson.repository.ts
  app/lib/repositories/user.repository.ts
  tests/mocks/repositories/mock.repository.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: restore skipped tests with repository mocking
  __tests__/repositories/course.repository.test.ts
  __tests__/repositories/enrollment.repository.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add eslint rule banning test.skip & guard scripts
  .eslintrc.json
  .github/workflows/lint-check.yml
  .husky/pre-push
  docs/TEST_QUALITY_GUIDE.md
  package.json
  scripts/guards/check-test-quality.ts
  scripts/guards/pre-push.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ci): stabilize JS/TS mixed setup and pin Node 20.11.x
  .github/workflows/lint-check.yml
  jest.setup.js
  package-lock.json
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,scss,css})
